SERVER_PORT=8080
SERVICE_SECRET_KEY=crypdog-secret-key-123456
SHARED_WEBHOOK_SECRET=crypdog-webhook-secret-987654

# DB_DRIVER can be 'postgres' or 'sqlite'
DB_DRIVER=sqlite
DB_DSN=crypdog.db

# Postgres Example DSN:
# DB_DRIVER=postgres
# DB_DSN=host=postgres user=postgres password=postgres dbname=crypdog port=5432 sslmode=disable

SCAN_INTERVAL_SEC=5
TRONGRID_API_KEY=
TRON_NODE_URL=https://api.trongrid.io
BSC_RPC_URL=https://binance.llamarpc.com
ARBITRUM_RPC_URL=https://arb1.arbitrum.io/rpc

TRON_CONFIRMATIONS=19
BSC_CONFIRMATIONS=15
ARBITRUM_CONFIRMATIONS=3

